
  <div class=" container text-center">
    <h2> SIGN UP</h2>
      Well done ! you made the right decision.
      this is the first step to your success.
      Bishop is there to help you develop your startup's network..
    </div>
    <hr>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="row">
  <div class="container">

  <div class="offset-">

  </div>
  <div>
    name <br>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  <br>
  <div >
    <%= f.label :email %><br />
    <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div >
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div >
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div >
    <%= f.submit "Sign up",class:"btn btn-sm btn-info" %>
  </div>
  <div class="">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar, autofocus: true, autocomplete: "avatar",class:"btn btn-sm btn-light" %>
</div>
<% end %>
<div id="formFooter">
  <%= render "devise/shared/links" %>
</div>
</div>

  </div>
