<%= form_with(model: [startup, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %>undefined</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group offset-1 col-sm-8">
      <%= form.text_area :content,class:"form-control"%>
    </div>
      <div class="col-sm-2">
        <%= form.submit 'Post comment',:class=>"btn btn-sm btn-info" %>
      </div>
    </div>
<% end %>
