<div class="container">
  <div class="search">
  <%= form_with(url: startups_path, method: :get, local: true) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit'search',:class=>"btn btn-dark" %><br>
  <% end %>
  <small clase = "text-center">searche startup by name</small>
</div>
</div>

<% @startups.each do |startup| %>
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-12 shadow-sm">
            <%= image_tag startup.logo_thumbnail,class: "bd-placeholder-img card-img-top",style: 'width="100%"; height="225";'%>
            <div class="card-body">
              <p class="card-text"><%= startup.resume %></p>
              <hr>
              <p class="card-text"><strong>Adesse</strong> : <%= startup.address %></p>
              <p class="card-text"><strong>Contact</strong> : <%= startup.contact %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'visit the stratup', startup,class:"btn btn-sm btn-primary" %>
                </div>
                <small class="text-muted"><strong><%=startup.favorites.count %></strong> <img src="/etoile.png" alt="contributeur (s)" width="25" height="25"></small>

              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<% end %>

<div class="container">
  <%= paginate @startups %>
</div>
