<div class="">
<% if user_signed_in? %>
  <span> <%= image_tag (current_user.avatar_thumbnail), style: 'height:50px;width:50px;'%> </span>
  <span> <%= link_to "#{current_user.name}", user_path(current_user.id) %> </span>
<% end %>
</div>

<br><br><br>
<div class="container startup">
<% @startups.each do |startup| %>
<table class="table">
    <tr>
      <td><%= image_tag startup.logo.url%></td>
      <td><%= startup.name %></td>
      <td><%= startup.address %></td>
      <td><%= startup.trade_registre %></td>
      <td><%= startup.contact %></td>
      <td><strong> <%=startup.favorites.count %></strong> <img src="/etoile.png" alt="contributeur (s)" width="25" height="25"></td>
      <td><%= link_to 'visit', startup %></td>

    </tr>
</table>
<% end %>
</div>
