<p><%= image_tag @startup.logo.url %></p>
<div class="jumbotron text-center">
  <h1><%= @startup.name %></h1>
  <p><%= @startup.resume %></p>
</div>
<div class="">
   <p><strong> adresse</strong> : <%= @startup.address %></p>
   <p><strong> IFU</strong> <%= @startup.trade_registre %></p>
   <p><strong> description </strong> : <video controls width="100%" height="360px" src="<%= @startup.descrption %>"></video></p>
</div>
<% if user_signed_in? %>
<div class="action">
  <button type="action" name="button"><%= link_to 'edit Statut', edit_startup_path(@startup.id) %></button>
  <button type="action" name="button"><%= link_to 'Delete Startup', startup_path(@startup.id), method: :delete, data: { confirm: 'Are you sure?' } %></button>
</div>
<% end %>
