
<img src="/banner.gif" class="img-fluid" alt="bishop banner">

<hr>
<% @users.each do |user| %>
<div class="row">
  <div class="col-sm-4">
    <div class="container">
      <%= image_tag (user.avatar_thumbnail), style: 'height:30px;width:30px;'%>
      <%= link_to "#{user.name}", user %>
     <p><%= user.email %></p>
      <% if user_signed_in?%>
        <%= link_to "send message", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post,class:"btn btn-sm btn-info" %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="container">
     <% user.startups.each do |startup| %>
      <%= image_tag startup.logo_thumbnail,style: 'height:30%;width:30%;'%>
      <%= link_to "#{startup.name}",startup  %> :
      <%= startup.favorites.count %> <span><img src="/etoile.png" alt="contributeur (s)" width="25" height="25"></span>
      <hr>
      <p> <%= user.following.count %> affiliate startup</p>
      <% if user_signed_in?%>
        <% unless current_user.id == user.id  %>
            <p><%= render 'follow_form', user: user %></p>
          <% end %>
        <% end %>
     <% end %>
    </div>
  </div>
</div>
<hr>
<% end %>
